<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mess Management System</title>

    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>

    <div id="header">
        <h5>UPDATE</h5>
      </div>

    <div id="tables">
        <label for="table">Choose a table</label>
        <select name="table" id="table" form="form">
            <optgroup label="Person">
                <option value="student">Student</option>
                <option value="staff">Staff</option>
                <option value="outsider">Outsider</option>
            </optgroup>
            <option value="fees">Fees</option>
            <option value="fees1">Fees1</option>
            <option value="fees2">Fees2</option>
            <option value="fees3">Fees3</option>
            <option value="inventory">Inventory</option>
            <option value="menu">Menu</option>
            <option value="mess_staff">Mess Staff</option>
            <optgroup label="Mess Staff">
                <option value="manager">Manager</option>
                <option value="distributer">Distributer</option>
                <option value="cleaner">Cleaner</option>
                <option value="cook">Cook</option>
              </optgroup>
            </select></option>
        </select>
        <form action="/update/query" id="form" method="get">
            <input type="submit" id="sub">
        </form>
    </div>

    <h3><%= name%></h3>
        <div id="upd">
            <label for="fields"></label>
            <select name="field" id="fields" form="form1">

                <% for (let i = 1; i < columns.length; i ++) { %>
                        <option value="<%= columns[i].name%>"><%= columns[i].name%></option>
                <% } %>
                </select>
        <form id="form1" action="/update/table?name=<%=name%>&attr=<%=attr%>" method="post">

            <% if(attr!=='') { %>
                <input name="keyval" type="text" placeholder="<%= columns[0].name%>">
                <input name="attrval" type="text" placeholder="<%=attr%>">
            <%}%>
                <input type="submit">
            
        </form>
    </div>

</body>
</html>